WEBSERVER_DOC_ROOT=/var/www/html
NGINX_PREFIX=/etc/nginx
LOCAL_TIMEZONE=local_timezone
DOMAIN_NAME=example.com
DIRECTORY_PATH=directory_path

LETSENCRYPT_EMAIL=email@domain.com
LETSENCRYPT_CONF_PREFIX=/etc/letsencrypt

PHP_IMAGE_NAME=php8.3-fpm
PHP_INI_DIR_PREFIX=/usr/local/etc

WORDPRESS_DB_USER=db_username
WORDPRESS_DB_PASSWORD=db_password
WORDPRESS_DB_NAME=db_name
WORDPRESS_TABLE_PREFIX=db_table_prefix

MYSQL_CONF_PREFIX=/etc/mysql/conf.d
MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_ROOT_HOST=%
DATABASE_IMAGE_NAME=which_db
DATABASE_CONT_NAME=which_db
DATABASE_VERSION=latest
DATABASE_PACKAGE_MANAGER=db_package_manager
DATABASE_AUTHENTICATION_PLUGIN=db_authentication_plugin
DATABASE_ADMIN_COMMANDLINE=db_admin_commandline

PMA_CONTROLUSER=pma_username
PMA_CONTROLPASS=pma_password
PMA_CONF_FOLDER=/etc/phpmyadmin 
PMA_HTPASSWD_USERNAME=db_username
PMA_HTPASSWD_PASSWORD=db_password
PMA_UPLOAD_LIMIT=8M
PMA_MEMORY_LIMIT=-1
APACHE_CONFDIR_PREFIX=/etc/apache2

REDIS_CONF_PREFIX=/usr/local/etc

VARNISH_VERSION=varnish_version
VARNISH_CONF_PREFIX=/etc/varnish
VARNISH_SIZE=2G
